@import "tailwindcss";

@layer base {
    @font-face {
        font-family: YekanBakh;
        src: url(/font/YekanBakhFaNum-VF.ttf);
    }
}

@layer components {
    .container {
        width: 90% !important;
        margin: 0 auto !important;
    }
}

@theme {
    --color-Primary: #4357BE;
    --color-Backg: #F8F8F8;
    --color-Title: #0F0F0F;
    --color-Caption: #ADADAD;
    --font-YekanBakh: YekanBakh;
    --breakpoint-xs: 480px;
}